################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gnubg2/v17
/.vs/g/v17
/.vs
/gnubg/autom4te.cache
/gnubg/board3d
/gnubg/doc
/gnubg/flags
/gnubg/fonts
/gnubg/win32/Makefile.in
/gnubg/win32
/gnubg/textures/Makefile.in
/gnubg/textures
/gnubg/sounds/Makefile.in
/gnubg/sounds
/gnubg/scripts/Makefile.in
/gnubg/scripts
/gnubg/pixmaps/Makefile.in
/gnubg/pixmaps
/gnubg/non-src/Makefile.in
/gnubg/non-src
/gnubg/met/Makefile.in
/gnubg/met
/gnubg/m4/Makefile.in
/gnubg/m4/lt~obsolete.m4
/gnubg/m4/ltversion.m4
/gnubg/m4/ltsugar.m4
/gnubg/m4/ltoptions.m4
/gnubg/m4/libtool.m4
/gnubg/m4
/gnubg/lib/Makefile.in
/gnubg/depcomp
/gnubg/configure~
/gnubg/configure.ac~
/gnubg/configure.ac
/gnubg/configure
/gnubg/config.sub
/gnubg/config.log
/gnubg/config.h.in
/gnubg/config.guess
/gnubg/compile
/gnubg/aclocal.m4
/gnubg/ylwrap
/gnubg/missing
/gnubg/Makefile.in
/gnubg/ltmain.sh
/gnubg/install-sh
/gnubg/config.*
/gnubg/*.o
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll