# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
!windows/**

*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vs/*

# list of files that appear during compilation

gnubg/aclocal.m4
gnubg/AUTHORS
gnubg/bearoffdump
gnubg/compile
gnubg/config.guess
gnubg/config.h
gnubg/config.h.in
gnubg/config.log
gnubg/config.status
gnubg/config.sub
gnubg/configure
gnubg/copying.c
gnubg/credits.c
gnubg/credits.h
gnubg/depcomp
gnubg/external_l.c
gnubg/external_y.c
gnubg/external_y.h
gnubg/gnubg
gnubg/gnubg_os0.bd
gnubg/gnubg_ts0.bd
gnubg/gnubg.wd
gnubg/install-sh
gnubg/libtool
gnubg/ltmain.sh
gnubg/makebearoff
gnubg/Makefile
gnubg/Makefile.in
gnubg/makehyper
gnubg/makeweights
gnubg/missing
gnubg/sgf_l.c
gnubg/sgf_y.c
gnubg/sgf_y.h
gnubg/stamp-h1
gnubg/ylwrap
gnubg/.deps/analysis.Po
gnubg/.deps/bearoff.Po
gnubg/.deps/bearoffdump.Po
gnubg/.deps/bearoffgammon.Po
gnubg/.deps/boardpos.Po
gnubg/.deps/copying.Po
gnubg/.deps/credits.Po
gnubg/.deps/dbprovider.Po
gnubg/.deps/dice.Po
gnubg/.deps/drawboard.Po
gnubg/.deps/eval.Po
gnubg/.deps/evallock.Po
gnubg/.deps/export.Po
gnubg/.deps/external_l.Po
gnubg/.deps/external_y.Po
gnubg/.deps/external.Po
gnubg/.deps/file.Po
gnubg/.deps/format.Po
gnubg/.deps/formatgs.Po
gnubg/.deps/glib-ext.Po
gnubg/.deps/gnubg.Po
gnubg/.deps/gnubgmodule.Po
gnubg/.deps/gnubgstock.Po
gnubg/.deps/gtk-multiview.Po
gnubg/.deps/gtkboard.Po
gnubg/.deps/gtkchequer.Po
gnubg/.deps/gtkcube.Po
gnubg/.deps/gtkexport.Po
gnubg/.deps/gtkfile.Po
gnubg/.deps/gtkgame.Po
gnubg/.deps/gtkgamelist.Po
gnubg/.deps/gtklocdefs.Po
gnubg/.deps/gtkmet.Po
gnubg/.deps/gtkmovefilter.Po
gnubg/.deps/gtkmovelist.Po
gnubg/.deps/gtkmovelistctrl.Po
gnubg/.deps/gtkoptions.Po
gnubg/.deps/gtkpanels.Po
gnubg/.deps/gtkprefs.Po
gnubg/.deps/gtkrace.Po
gnubg/.deps/gtkrelational.Po
gnubg/.deps/gtkrolls.Po
gnubg/.deps/gtkscoremap.Po
gnubg/.deps/gtksplash.Po
gnubg/.deps/gtktempmap.Po
gnubg/.deps/gtktheory.Po
gnubg/.deps/gtktoolbar.Po
gnubg/.deps/gtkwindows.Po
gnubg/.deps/html.Po
gnubg/.deps/htmlimages.Po
gnubg/.deps/import.Po
gnubg/.deps/latex.Po
gnubg/.deps/makebearoff.Po
gnubg/.deps/makehyper.Po
gnubg/.deps/makeweights.Po
gnubg/.deps/matchequity.Po
gnubg/.deps/matchid.Po
gnubg/.deps/mec.Po
gnubg/.deps/mtsupport.Po
gnubg/.deps/multithread.Po
gnubg/.deps/openurl.Po
gnubg/.deps/osr.Po
gnubg/.deps/output.Po
gnubg/.deps/play.Po
gnubg/.deps/positionid.Po
gnubg/.deps/progress.Po
gnubg/.deps/randomorg.Po
gnubg/.deps/relational.Po
gnubg/.deps/render.Po
gnubg/.deps/renderprefs.Po
gnubg/.deps/rollout.Po
gnubg/.deps/set.Po
gnubg/.deps/sgf_l.Po
gnubg/.deps/sgf_y.Po
gnubg/.deps/sgf.Po
gnubg/.deps/show.Po
gnubg/.deps/simpleboard.Po
gnubg/.deps/sound.Po
gnubg/.deps/speed.Po
gnubg/.deps/text.Po
gnubg/.deps/timer.Po
gnubg/.deps/util.Po
gnubg/autom4te.cache/output.0
gnubg/autom4te.cache/output.1
gnubg/autom4te.cache/output.2
gnubg/autom4te.cache/output.3
gnubg/autom4te.cache/requests
gnubg/autom4te.cache/traces.0
gnubg/autom4te.cache/traces.1
gnubg/autom4te.cache/traces.2
gnubg/autom4te.cache/traces.3
gnubg/board3d/Makefile
gnubg/board3d/Makefile.in
gnubg/board3d/.deps/libboard3d_la-drawboard3d.Plo
gnubg/board3d/.deps/libboard3d_la-DrawOGL.Plo
gnubg/board3d/.deps/libboard3d_la-font3d.Plo
gnubg/board3d/.deps/libboard3d_la-font3dOGL.Plo
gnubg/board3d/.deps/libboard3d_la-GLwidget.Plo
gnubg/board3d/.deps/libboard3d_la-graph.Plo
gnubg/board3d/.deps/libboard3d_la-gtkcolour3d.Plo
gnubg/board3d/.deps/libboard3d_la-matrix.Plo
gnubg/board3d/.deps/libboard3d_la-misc3d.Plo
gnubg/board3d/.deps/libboard3d_la-model.Plo
gnubg/board3d/.deps/libboard3d_la-ModelOGL.Plo
gnubg/board3d/.deps/libboard3d_la-Occluders.Plo
gnubg/board3d/.deps/libboard3d_la-PickOGL.Plo
gnubg/board3d/.deps/libboard3d_la-shadow.Plo
gnubg/board3d/.deps/libboard3d_la-ShimOGL.Plo
gnubg/board3d/.deps/libboard3d_la-tr.Plo
gnubg/board3d/.deps/libboard3d_la-widget3d.Plo
gnubg/cglm/affine-mat.h
gnubg/cglm/affine-post.h
gnubg/cglm/affine-pre.h
gnubg/cglm/affine.h
gnubg/cglm/affine2d.h
gnubg/cglm/applesimd.h
gnubg/cglm/bezier.h
gnubg/cglm/box.h
gnubg/cglm/call.h
gnubg/cglm/cam.h
gnubg/cglm/cglm.h
gnubg/cglm/color.h
gnubg/cglm/common.h
gnubg/cglm/curve.h
gnubg/cglm/ease.h
gnubg/cglm/euler.h
gnubg/cglm/frustum.h
gnubg/cglm/io.h
gnubg/cglm/ivec2.h
gnubg/cglm/ivec3.h
gnubg/cglm/ivec4.h
gnubg/cglm/mat2.h
gnubg/cglm/mat2x3.h
gnubg/cglm/mat2x4.h
gnubg/cglm/mat3.h
gnubg/cglm/mat3x2.h
gnubg/cglm/mat3x4.h
gnubg/cglm/mat4.h
gnubg/cglm/mat4x2.h
gnubg/cglm/mat4x3.h
gnubg/cglm/plane.h
gnubg/cglm/project.h
gnubg/cglm/quat.h
gnubg/cglm/ray.h
gnubg/cglm/sphere.h
gnubg/cglm/struct.h
gnubg/cglm/types-struct.h
gnubg/cglm/types.h
gnubg/cglm/util.h
gnubg/cglm/vec2-ext.h
gnubg/cglm/vec2.h
gnubg/cglm/vec3-ext.h
gnubg/cglm/vec3.h
gnubg/cglm/vec4-ext.h
gnubg/cglm/vec4.h
gnubg/cglm/version.h
gnubg/cglm/call/affine.h
gnubg/cglm/call/affine2d.h
gnubg/cglm/call/bezier.h
gnubg/cglm/call/box.h
gnubg/cglm/call/cam.h
gnubg/cglm/call/curve.h
gnubg/cglm/call/ease.h
gnubg/cglm/call/euler.h
gnubg/cglm/call/frustum.h
gnubg/cglm/call/io.h
gnubg/cglm/call/ivec2.h
gnubg/cglm/call/ivec3.h
gnubg/cglm/call/ivec4.h
gnubg/cglm/call/mat2.h
gnubg/cglm/call/mat2x3.h
gnubg/cglm/call/mat2x4.h
gnubg/cglm/call/mat3.h
gnubg/cglm/call/mat3x2.h
gnubg/cglm/call/mat3x4.h
gnubg/cglm/call/mat4.h
gnubg/cglm/call/mat4x2.h
gnubg/cglm/call/mat4x3.h
gnubg/cglm/call/plane.h
gnubg/cglm/call/project.h
gnubg/cglm/call/quat.h
gnubg/cglm/call/ray.h
gnubg/cglm/call/sphere.h
gnubg/cglm/call/vec2.h
gnubg/cglm/call/vec3.h
gnubg/cglm/call/vec4.h
gnubg/cglm/call/clipspace/ortho_lh_no.h
gnubg/cglm/call/clipspace/ortho_lh_zo.h
gnubg/cglm/call/clipspace/ortho_rh_no.h
gnubg/cglm/call/clipspace/ortho_rh_zo.h
gnubg/cglm/call/clipspace/persp_lh_no.h
gnubg/cglm/call/clipspace/persp_lh_zo.h
gnubg/cglm/call/clipspace/persp_rh_no.h
gnubg/cglm/call/clipspace/persp_rh_zo.h
gnubg/cglm/call/clipspace/project_no.h
gnubg/cglm/call/clipspace/project_zo.h
gnubg/cglm/call/clipspace/view_lh_no.h
gnubg/cglm/call/clipspace/view_lh_zo.h
gnubg/cglm/call/clipspace/view_rh_no.h
gnubg/cglm/call/clipspace/view_rh_zo.h
gnubg/cglm/clipspace/ortho_lh_no.h
gnubg/cglm/clipspace/ortho_lh_zo.h
gnubg/cglm/clipspace/ortho_rh_no.h
gnubg/cglm/clipspace/ortho_rh_zo.h
gnubg/cglm/clipspace/persp_lh_no.h
gnubg/cglm/clipspace/persp_lh_zo.h
gnubg/cglm/clipspace/persp_rh_no.h
gnubg/cglm/clipspace/persp_rh_zo.h
gnubg/cglm/clipspace/persp.h
gnubg/cglm/clipspace/project_no.h
gnubg/cglm/clipspace/project_zo.h
gnubg/cglm/clipspace/view_lh_no.h
gnubg/cglm/clipspace/view_lh_zo.h
gnubg/cglm/clipspace/view_lh.h
gnubg/cglm/clipspace/view_rh_no.h
gnubg/cglm/clipspace/view_rh_zo.h
gnubg/cglm/clipspace/view_rh.h
gnubg/cglm/simd/arm.h
gnubg/cglm/simd/intrin.h
gnubg/cglm/simd/x86.h
gnubg/cglm/simd/avx/affine.h
gnubg/cglm/simd/avx/mat4.h
gnubg/cglm/simd/neon/affine.h
gnubg/cglm/simd/neon/mat2.h
gnubg/cglm/simd/neon/mat4.h
gnubg/cglm/simd/neon/quat.h
gnubg/cglm/simd/sse2/affine.h
gnubg/cglm/simd/sse2/mat2.h
gnubg/cglm/simd/sse2/mat3.h
gnubg/cglm/simd/sse2/mat4.h
gnubg/cglm/simd/sse2/quat.h
gnubg/cglm/struct/affine-mat.h
gnubg/cglm/struct/affine-post.h
gnubg/cglm/struct/affine-pre.h
gnubg/cglm/struct/affine.h
gnubg/cglm/struct/affine2d.h
gnubg/cglm/struct/box.h
gnubg/cglm/struct/cam.h
gnubg/cglm/struct/color.h
gnubg/cglm/struct/curve.h
gnubg/cglm/struct/euler.h
gnubg/cglm/struct/frustum.h
gnubg/cglm/struct/io.h
gnubg/cglm/struct/mat2.h
gnubg/cglm/struct/mat2x3.h
gnubg/cglm/struct/mat2x4.h
gnubg/cglm/struct/mat3.h
gnubg/cglm/struct/mat3x2.h
gnubg/cglm/struct/mat3x4.h
gnubg/cglm/struct/mat4.h
gnubg/cglm/struct/mat4x2.h
gnubg/cglm/struct/mat4x3.h
gnubg/cglm/struct/plane.h
gnubg/cglm/struct/project.h
gnubg/cglm/struct/quat.h
gnubg/cglm/struct/sphere.h
gnubg/cglm/struct/vec2-ext.h
gnubg/cglm/struct/vec2.h
gnubg/cglm/struct/vec3-ext.h
gnubg/cglm/struct/vec3.h
gnubg/cglm/struct/vec4-ext.h
gnubg/cglm/struct/vec4.h
gnubg/cglm/struct/clipspace/ortho_lh_no.h
gnubg/cglm/struct/clipspace/ortho_lh_zo.h
gnubg/cglm/struct/clipspace/ortho_rh_no.h
gnubg/cglm/struct/clipspace/ortho_rh_zo.h
gnubg/cglm/struct/clipspace/persp_lh_no.h
gnubg/cglm/struct/clipspace/persp_lh_zo.h
gnubg/cglm/struct/clipspace/persp_rh_no.h
gnubg/cglm/struct/clipspace/persp_rh_zo.h
gnubg/cglm/struct/clipspace/project_no.h
gnubg/cglm/struct/clipspace/project_zo.h
gnubg/cglm/struct/clipspace/view_lh_no.h
gnubg/cglm/struct/clipspace/view_lh_zo.h
gnubg/cglm/struct/clipspace/view_rh_no.h
gnubg/cglm/struct/clipspace/view_rh_zo.h
gnubg/doc/allabout.html
gnubg/doc/allabout.pdf
gnubg/doc/gnubg.6
gnubg/doc/gnubg.html
gnubg/doc/gnubg.info
gnubg/doc/gnubg.pdf
gnubg/doc/gnubg.texi
gnubg/doc/Makefile
gnubg/doc/Makefile.in
gnubg/flags/Makefile
gnubg/flags/Makefile.in
gnubg/fonts/Makefile
gnubg/fonts/Makefile.in
gnubg/lib/Makefile
gnubg/lib/Makefile.in
gnubg/lib/.deps/cache.Plo
gnubg/lib/.deps/isaac.Plo
gnubg/lib/.deps/libsimd_la-inputs.Plo
gnubg/lib/.deps/libsimd_la-neuralnetsse.Plo
gnubg/lib/.deps/libsimd_la-output.Plo
gnubg/lib/.deps/list.Plo
gnubg/lib/.deps/md5.Plo
gnubg/lib/.deps/neuralnet.Plo
gnubg/lib/.deps/SFMT.Plo
gnubg/m4/libtool.m4
gnubg/m4/lt~obsolete.m4
gnubg/m4/ltoptions.m4
gnubg/m4/ltsugar.m4
gnubg/m4/ltversion.m4
gnubg/m4/Makefile
gnubg/m4/Makefile.in
gnubg/met/Makefile
gnubg/met/Makefile.in
gnubg/non-src/Makefile
gnubg/non-src/Makefile.in
gnubg/pixmaps/gnubg-stock-pixbufs.h
gnubg/pixmaps/gnubg-stock-resources.c
gnubg/pixmaps/gnubg-stock-resources.h
gnubg/pixmaps/Makefile
gnubg/pixmaps/Makefile.in
gnubg/pixmaps/stock-icons.list
gnubg/pixmaps/stock-icons.xml
gnubg/pixmaps/.deps/gnubg-stock-resources.Plo
gnubg/po/cs.gmo
gnubg/po/da.gmo
gnubg/po/de.gmo
gnubg/po/el.gmo
gnubg/po/en_GB.gmo
gnubg/po/en_US.gmo
gnubg/po/es.gmo
gnubg/po/fi.gmo
gnubg/po/fr.gmo
gnubg/po/is.gmo
gnubg/po/it.gmo
gnubg/po/ja.gmo
gnubg/po/Makefile
gnubg/po/Makefile.in
gnubg/po/POTFILES
gnubg/po/ro.gmo
gnubg/po/ru.gmo
gnubg/po/tr.gmo
gnubg/scripts/Makefile
gnubg/scripts/Makefile.in
gnubg/sounds/Makefile
gnubg/sounds/Makefile.in
gnubg/textures/Makefile
gnubg/textures/Makefile.in
gnubg/win32/Makefile
gnubg/win32/Makefile.in
gnubg/configure~
gnubg/config.h.in~
/gnubg/autom4te.cache/output.5
/gnubg/autom4te.cache/output.6
/gnubg/autom4te.cache/traces.5
/gnubg/autom4te.cache/traces.6
/.vs/VSWorkspaceState.json
/.vs/VSWorkspaceState.json
*.Tpo
gnubg/.vscode/settings.json

