/*
 * Colour definitions for gtk3.
 * Ported from the gtkrc file used for gtk2.
 * by
 * Jeremy Moore <jmoore@ieee.org>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of version 3 or later of the GNU General Public License as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 *
 * $Id: gnubg.css,v 1.3 2016/08/27 20:27:35 plm Exp $
 */

/*
 * Style for the move list (e.g. the hint window) for highlighting the actual
 * move made.
 */
#gnubg-move-done:active {
    color: red;
}

/*
 * Style for the move list, used in detail view, sets font colour for stat line
 */
#gnubg-move-winlossfg:active {
    color: gray;
}

/*
 * Style for the uncompleted move (shown as you move pieces around)
 */
#gnubg-move-current:active {
    color: red;
}

/*
 * Styles for showing the graphical overview of the market windows.
 *
 * ACTIVE is used for showing the "double, take" window
 * HOVER is used for showing the "double, pass" window
 * SELECTED is used for showing the "too good" window
 */
#gnubg-doubling-window-graph:active {
    background-color: green;
}

#gnubg-doubling-window-graph:hover {
    background-color: red;
}

#gnubg-doubling-window-graph:selected {
    background-color: blue;
}

/*
 * Styles for moves in game list
 */
#gnubg-gamelist-chequer-blunder {
    color: red;
}

#gnubg-gamelist-chequer-error {
    color: blue;
}

#gnubg-gamelist-chequer-doubtful {
    color: #11a011;
}

#gnubg-gamelist-cube-blunder {
    background-color: yellow;
}

#gnubg-gamelist-cube-error {
    background-color: #ff80ff;
}

#gnubg-gamelist-cube-doubtful {
    background-color: silver;
}

#gnubg-gamelist-luck-bad {
    font-style: italic;
}

#gnubg-gamelist-luck-good {
    font-weight: bold;
}

/*
 * Styles for match equity table
 *
 * The style for "met-matching-score" is used for highlighting the row
 * and column that matches the current score. For example, if the score
 * is 4-away,7-away the row for 4-away and the column for 7-away is highlighted.
 * The style for "met-the-score" is used to highlight the exact score, e.g.,
 * in the example above, the entry at 4-away,7-away is highlighted.
 */
#gnubg-met-matching-score {
    color: red;
}

#gnubg-met-the-score {
    color: green;
}

/*
 * Style for squares in the temperature map
 */
.gnubg-temp-map-quadrant {
    border-width: 1px;
    border-color: gray;
    border-style: inset;
}

/*
 * Style for buttons underneath the move list (Eval, Rollout, etc.)
 */
.gnubg-analysis-button {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*
 * Style for the progress bars displayed for game analysis and rollouts.
 * Applies only to gtk 3.20 or later.
 */
progressbar {
    padding: 10px;
}
